#home {
  background-color: rgb(224, 224, 224);
}

#itemcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#load {
  border-radius: 1rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}