#orden {
  display: flex;
  position: sticky;
  top: 7rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: rgb(28, 35, 54);
  padding: 0.5rem 0rem;
  color: aliceblue;
}

.labelorden {
  margin-left: 1rem;
}

.inputorden {
  width: 10rem;
}

#limpiar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid aliceblue;
  background-color: rgb(16, 19, 73);
  color: aliceblue;
  font-size: medium;
  padding: 0.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

#limpiar:hover {
  background-color: aliceblue;
  color: rgb(16, 19, 73);
  border: 1px solid rgb(16, 19, 73);
}

#videogamecard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#load {
  border-radius: 1rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}