#searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  margin-top: 0rem;
}

#input, #searchButton {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: none;
}

#logoML {
  height: 2rem;
  margin-right: 1rem;
  padding-top: 2px;
}

#input {
  width: 55rem;
  padding-left: 0.5rem;
  height: 2rem;
}

#searchButton {
  cursor: pointer;
  padding: 1px 6px;
} 

#buttonImage {
  height: 1.5rem;
}