#landing {
  margin-top: 10rem;
}

#lojueguitolanding {
    font-size: 4rem;
    color: #fff;
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 15px #fff,
      0 0 23px red,
      0 0 25px red,
      0 0 30px red,
      0 0 35px red,
      0 0 40px red;
}

#ingresar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  cursor: pointer;
  background-color: rgb(16, 19, 73);
  border: 1px solid aliceblue;
  color: aliceblue;
  margin-top: 4rem;
  padding: 0.7rem 1.5rem;
}

#ingresar:hover {
  background-color: aliceblue;
  color: rgb(16, 19, 73);
  border: 1px solid rgb(16, 19, 73);
}