#card {
  display: flex;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 5pt;
  width: 60rem;
  margin-bottom: 2px;
}

#image {
  margin: 1rem;
  object-fit:contain;
  height: 8rem;
  width: 8rem;
  background-color: rgb(224, 224, 224);
}

#descrColumn, #location {
  padding: 2% 0;
  text-align: left;
  width: 100%;
}

#title {
  font-size: 0.9rem;
  width: 30rem;
}

#price {
  font-size: 1.2rem;
}

#location {
  color:rgb(116, 116, 116);
  font-size: 0.8rem;
  margin-top: 3rem;
  margin-left: 9rem;
}