#navbar {
  position: sticky;
  top: 0rem;
  display: flex;
  z-index: 100;
  background-color: rgb(238, 209, 48);
  width:100%;
  align-items: center;
  justify-content: space-around;
  padding: 0.25rem 0;
}
